{% extends '../layouts/full-layout.html' %}

{% block content %}


	<section class="t-prod-details">
		<div class="t-prod-details__row">
			<div class="t-prod-details__img-container">
				<img src="https://placeholdit.imgix.net/~text?txtsize=33&w=350&h=150" class="u-img-responsive" />
			</div>
			<div class="t-prod-details__details">
				<h1>Product Title</h1>
				<p>&pound;25.99 (was £30.00)</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed laoreet massa eget ullamcorper luctus. Cras lacinia eros magna. Nam aliquam sagittis risus, eget tempus quam viverra nec. Cras eget ipsum elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam ut luctus eros. Duis augue ligula, lobortis at nisl in, accumsan congue odio. Fusce eu tincidunt sem, in cursus dui.</p>

				<div>
					Colour swatches
				</div>

				<div>
					add to bag form
				</div>
			</div>
		</div>
	</section>


{% endblock %}