

// Typography
//
// -----------------------------
$font-family-heading: 'Arial Black', Gadget, sans-serif;
$font-family-body: 'Trebuchet MS', Helvetica, sans-serif;
$font-family-console: 'Lucida Console', Monaco, monospace;

// All adhere to a 18px baseline. Adjust as necessary but retain Vertical Rhythm
$font-size-a: 1.0; /* 10px */
$font-size-b: 1.4; /* 14px */
$font-size-c: 2.4; /* 24px */
$font-size-d: 3.0; /* 30px */
$font-size-e: 4.0; /* 40px */
$font-size-f: 6.0; /* 60px */

$line-height-a: 1.8; /* 18px */
$line-height-b: 1.2857; /* 18px */
$line-height-c: 1.5; /* 36px */
$line-height-d: 1.2; /* 36px */
$line-height-e: 1.35; /* 54px */
$line-height-d: 1.2; /* 36px */
$line-height-f: 1.2; /* 72px */


$colour-heading:                #4d4d4d !default;
$colour-subheading:             #4d4d4d !default;
$colour-body:                   #808080 !default;
$colour-label:                  #4d4d4d !default;


// Colours

