{% extends '../../layouts/default.html' %}


{% block body %}

	<div class="container">

		<div class="banner-jumbo">
			<div class="banner-jumbo__bg">
				<img src="http://placehold.it/1110x300?text=mobile banner" alt="thumbnail" class="banner-jumbo__bg-image u-img-responsive" />
			</div>
			<div class="banner-jumbo__content banner-jumbo__content--bottom-right text-right">
				<h1>Heading</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
			</div>
		</div>

		<ol class="row u-spacer-v">
			{% for i in 0..11 %}
			<li class="col-xs-3">
				<article class="card">
					<a href="" class="card__media" style="display: block; margin-bottom: 10px;">
						<img src="http://placehold.it/144x144/{{bgcolour}}/{{txtcolour}}" alt="thumbnail" class="u-img-responsive" />
					</a>
					<div class="card__content" style="text-align: center;">
						<h2 class="label baseline-margin-none">Product Title</h2>
						<p>&pound;25.99</p>
					</div>
				</article>
			</li>
			{% endfor %}
		</ol>
	</div>

{% endblock %}	