.docs-ly-default {
	margin-top: 50px;
}

.docs-page-header {
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 20px;
}

.docs-section {
	margin-bottom: 50px;
}

.docs-section-header {
	margin-bottom: 30px;
}

.docs-sub-heading {
	border-bottom: 1px solid #000;
}