<section class="container">
	<div class="row">
		<div class="col-lg-8">
			<img src="http://placehold.it/710x100" alt="thumbnail" class="u-img-responsive" />
		</div>
		<div class="col-lg-4">
			<article class="media">
				<a href="" class="media__media media__media--pull-right">
					<img src="http://placehold.it/100x100" alt="thumbnail" width="100" />
				</a>
				<div class="media__body baseline-margin-none-all">
					<h2 class="h4">Promo</h2>
					<p class="tp-sml">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed laoreet massa eget ullamcorper luctus. Cras lacinia eros magna.</p>
				</div>
			</article>
		</div>
	</div>
</section>