{% extends '../layouts/basic.html' %}


{% block body %}

	// https://github.com/twbs/bootstrap/blob/v4-dev/scss/_alert.scss


	<div class="alert alert--success baseline-margin-none-all u-spacer-v">
		<div class="alert__icon">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16">
				<path fill="#000000" d="M7 4.75c0-0.412 0.338-0.75 0.75-0.75h0.5c0.412 0 0.75 0.338 0.75 0.75v0.5c0 0.412-0.338 0.75-0.75 0.75h-0.5c-0.412 0-0.75-0.338-0.75-0.75v-0.5z"></path>
				<path fill="#000000" d="M10 12h-4v-1h1v-3h-1v-1h3v4h1z"></path>
				<path fill="#000000" d="M8 0c-4.418 0-8 3.582-8 8s3.582 8 8 8 8-3.582 8-8-3.582-8-8-8zM8 14.5c-3.59 0-6.5-2.91-6.5-6.5s2.91-6.5 6.5-6.5 6.5 2.91 6.5 6.5-2.91 6.5-6.5 6.5z"></path>
			</svg>
		</div>
		<div class="alert__body">
			<p><strong>Congratulations!</strong> It worked.</p>
		</div>
	</div>

	<div class="alert alert--info baseline-margin-none-all u-spacer-v">
		<div class="alert__icon">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16">
				<path fill="#000000" d="M7 4.75c0-0.412 0.338-0.75 0.75-0.75h0.5c0.412 0 0.75 0.338 0.75 0.75v0.5c0 0.412-0.338 0.75-0.75 0.75h-0.5c-0.412 0-0.75-0.338-0.75-0.75v-0.5z"></path>
				<path fill="#000000" d="M10 12h-4v-1h1v-3h-1v-1h3v4h1z"></path>
				<path fill="#000000" d="M8 0c-4.418 0-8 3.582-8 8s3.582 8 8 8 8-3.582 8-8-3.582-8-8-8zM8 14.5c-3.59 0-6.5-2.91-6.5-6.5s2.91-6.5 6.5-6.5 6.5 2.91 6.5 6.5-2.91 6.5-6.5 6.5z"></path>
			</svg>
		</div>
		<div class="alert__body">
			<p><strong>Hey!</strong> Regarding that interesting matter...</p>
		</div>
	</div>

	<div class="alert alert--warning baseline-margin-none-all u-spacer-v">
		<div class="alert__icon">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16">
				<path fill="#000000" d="M7 4.75c0-0.412 0.338-0.75 0.75-0.75h0.5c0.412 0 0.75 0.338 0.75 0.75v0.5c0 0.412-0.338 0.75-0.75 0.75h-0.5c-0.412 0-0.75-0.338-0.75-0.75v-0.5z"></path>
				<path fill="#000000" d="M10 12h-4v-1h1v-3h-1v-1h3v4h1z"></path>
				<path fill="#000000" d="M8 0c-4.418 0-8 3.582-8 8s3.582 8 8 8 8-3.582 8-8-3.582-8-8-8zM8 14.5c-3.59 0-6.5-2.91-6.5-6.5s2.91-6.5 6.5-6.5 6.5 2.91 6.5 6.5-2.91 6.5-6.5 6.5z"></path>
			</svg>
		</div>
		<div class="alert__body">
			<p><strong>Hey!</strong> Regarding that interesting matter...</p>
		</div>
	</div>

	<div class="alert alert--danger baseline-margin-none-all u-spacer-v">
		<div class="alert__icon">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16">
				<path fill="#000000" d="M7 4.75c0-0.412 0.338-0.75 0.75-0.75h0.5c0.412 0 0.75 0.338 0.75 0.75v0.5c0 0.412-0.338 0.75-0.75 0.75h-0.5c-0.412 0-0.75-0.338-0.75-0.75v-0.5z"></path>
				<path fill="#000000" d="M10 12h-4v-1h1v-3h-1v-1h3v4h1z"></path>
				<path fill="#000000" d="M8 0c-4.418 0-8 3.582-8 8s3.582 8 8 8 8-3.582 8-8-3.582-8-8-8zM8 14.5c-3.59 0-6.5-2.91-6.5-6.5s2.91-6.5 6.5-6.5 6.5 2.91 6.5 6.5-2.91 6.5-6.5 6.5z"></path>
			</svg>
		</div>
		<div class="alert__body">
			<p><strong>Ooops!</strong> Something went wrong.</p>
		</div>
	</div>

	<div class="alert alert--danger baseline-margin-none-all u-spacer-v">
		<div class="alert__body">
			<p><strong>Ooops!</strong> Something went wrong.</p>
		</div>
		<ul class="list-bullet">
			<li>item one</li>
			<li>item two</li>
			<li>item three</li>
		</ul>
	</div>

{% endblock %}