{% extends "layouts/basic.html" %}


{% block body %}

    <h1>Blueprint Pattern Library</h1>

    <!-- Abstract -->
    <section>
    	<h2>Mixins & Functions???</h2>
    </section>

    <!-- Base -->
    <section>
    	<h2>Colours & Typography</h2>
    	<ul>
    		<li><a href="">Colours</a></li>
    		<li><a href="/components/typography.html">Typography</a></li>
            <li><a href="/components/alerts.html">Feedback</a></li>
            <li><a href="/components/forms.html">Forms</a></li>
            <li><a href="/components/components.html">Components</a></li>
    	</ul>
    </section>

    <section>
    	<h2>Templates</h2>
    	<p>Templates are low-fidelity groupings of components into logical units. Think of them as abstract layout designs. See <a href="http://bradfrost.com/blog/post/atomic-web-design/#templates">templates</a> for an example.</p>
    	<ul>
    		<li><a href="/templates/content/home.html">Home template</a></li>
    		<li><a href="/templates/catalogue/category-landing.html">Category template</a></li>
    		<li><a href="/templates/catalogue/product-list.html">Product list template</a></li>
    		<li><a href="/templates/catalogue/product-details.html">Product details template</a></li>
    		<li><a href="/templates/checkout/basket.html">Basket template</a></li>
    	</ul>
    </section>

    <section>
    	<h2>Pages</h2>
    	<p>Pages are instances of templates. They exist in hi-fidelity and are concrete implementations. See <a href="http://bradfrost.com/blog/post/atomic-web-design/#pages">pages</a> for an example.</p>
    	<ul>
    		<li><a href="">Home page</a></li>
    		<li><a href="">Category page</a></li>
    		<li><a href="">Product list page</a></li>
    		<li><a href="">Product details page</a></li>
    		<li><a href="">Basket page</a></li>
    	</ul>
    </section>

{% endblock %}