{% extends "../layouts/default.html" %}


{% block body %}

    <article class="docs-article">
        <header class="docs-page-header">
            <h1>Typography.</h1>
            <p>All typographic elements adhere to a standard system which utilises Vertical Rhythm and a set of utilites to add and remove margin to stay withing the baseline. The following rules apply.</p>
            <ul>
                <li>18px baseline</li>
                <li>All have default bottom margins or 1 baseline unit. I.e. they default to 18px bottom margin.</li>
                <li>Utility classes are provided to remove or add baseline margins of a number of magnitures. (TODO)</li>
            </ul>
        </header>

        

        <section class="docs-section">
            <header>
                <h2 class="docs-sub-heading">Headings</h2>
            </header>
            <h1>Heading h1</h1>
            <h2>Subheading h2</h2>
            <h3>Sub Section Heading h3</h3>
        </section>

        <section class="docs-section">
            <header class="docs-section-header">
                <h2>Body Text</h2>
            </header>
            <p>Lead body content</p>
            <p><strong>Bold content within body or form labels</strong></p>
            <p>Body content / copy</p>
            <p>Button labels / meta content</p>
            <p>Marked / highlighted text</p>
            <p><a href="">Link in paragraph</a></p>
            <a href="">Link without paragraph</a>

            <h3>Lead Body Content</h3>
            <p class="type-lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac efficitur nisl, sed sagittis massa. In tincidunt quam a sem fringilla facilisis.</p>

            <h3>Paragraph Sections</h3>
            <p>Sed faucibus luctus metus vitae commodo. Donec egestas sagittis sem, et dignissim nulla rhoncus ac. Mauris vel ipsum nisl. Vestibulum posuere posuere mi quis imperdiet. Proin dapibus rutrum quam. Nulla a accumsan magna. Etiam nunc elit, pretium sed nibh vitae, vehicula hendrerit nulla. Aliquam congue eu tortor eu malesuada.</p>
            <p>Nam tincidunt magna vitae leo condimentum lobortis. Vestibulum consectetur magna id sem imperdiet volutpat. Maecenas ut ultrices lectus, ut hendrerit neque. Pellentesque lacinia nisl vestibulum, euismod turpis a, sagittis augue. Donec vulputate dapibus rhoncus. Cras non pharetra mi. Nam eleifend nulla ipsum, ac interdum felis tincidunt tempus.</p>

            <h3>Paragraph Dimmed</h3>
            <p class="dim-el">Aliquam sed consequat elit. Pellentesque maximus sollicitudin efficitur. Vivamus venenatis, nulla eu posuere tincidunt, orci justo placerat leo, non aliquet justo tortor et urna. Quisque nec nisi ac nisi sodales efficitur. Vivamus lobortis tristique tellus, quis convallis neque ultricies vitae. Fusce non lacus mollis, sodales leo sagittis, aliquam odio. Nullam luctus nisl nisi, et vestibulum turpis suscipit vel.</p>
        </section>

        <section class="docs-section">
            <header>
                <h2 class="docs-sub-heading">Lists</h2>
            </header>
            
        </section>
    </article>


{% endblock %}