.form-control {
	display: block;
	width: 100%;
	padding: $input-padding-y $input-padding-x;
	@include rem($font-size-b);
	line-height: $line-height-b;
	line-height: 36px;
	color: $input-color;
	background-color: $input-bg;
	background-image: none;
	background-clip: padding-box;
	border: $input-border-width solid $input-border-colour;
	@include border-radius($input-border-radius);
	// box-shadow mixin allow for null
	// transition mixin allow for null
	// Unstyle the caret on `<select>`s in IE10+.
	&::-ms-expand {
		background-color: transparent;
		border: 0;
	}
	// Focus state

}

// http://stackoverflow.com/questions/5780109/removing-rounded-corners-from-a-select-element-in-chrome-webkit
select.form-control {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
    background-position: 100% 50%;
    background-repeat: no-repeat;

    height: 36px;
    line-height: 1;
}

.form-group {
	margin-bottom: 10px;
}


// Checkboxes and radios
//
// Indent the labels to position radios/checkboxes as hanging controls.

.form-check {
  position: relative;
  display: block;
  margin-bottom: ($spacer * .75);

  // Move up sibling radios or checkboxes for tighter spacing
  + .form-check {
    margin-top: -.25rem;
  }

  &.disabled {
    .form-check-label {
      color: $text-muted;
      cursor: $cursor-disabled;
    }
  }
}

.form-check-label {
  padding-left: 1.25rem;
  margin-bottom: 0; // Override default `<label>` bottom margin
  cursor: pointer;
}

.form-check-input {
  position: absolute;
  margin-top: .25rem;
  margin-left: -1.25rem;

  &:only-child {
    position: static;
  }
}