

html {
    font-size: 62.5%;
}

body {
    color: $colour-body;
    font-family: $font-family-regular;
}

// TODO make a generator for all these headings!
h1, .h1 {
    color: $colour-heading;
    font-family: $font-family-regular;
    @include rem($font-size-e);
    line-height: $line-height-e;
    margin-bottom: 0.333em;
}

h2, .h2 {
    color: $colour-heading;
    font-family: $font-family-regular;
    @include rem($font-size-d);
    line-height: $line-height-d;
    margin-bottom: 0.5em;
}

h3, .h3 {
    color: $colour-heading;
    font-family: $font-family-regular;
    @include rem($font-size-c);
    line-height: $line-height-c;
    margin-bottom: 0.5em;
}

h4, .h4 {
    color: $colour-heading;
    font-family: $font-family-regular;
    @include rem($font-size-b);
    line-height: $line-height-b;
    margin-bottom: 1em;
}

// Probably need an h5 & h6 too

p, .p {
    font-family: $font-family-regular;
    @include rem($font-size-b);
    line-height: $line-height-b;
    margin-bottom: 1em;
}

label, .label {
    color: $colour-label;
    display: block;
    font-family: $font-family-bold;
    @include rem($font-size-b);
    line-height: $line-height-b;
    //margin-bottom: #{$baseline}em;
}

legend, .legend {

}

.tp-sml {
    font-family: $font-family-regular;
    @include rem($font-size-a);
    line-height: $line-height-a;
    margin-bottom: 1em;
}

// These are utility classes that will need to be automated for the above typographic elements
.baseline-margin-none {margin: 0;}
.baseline-margin-none-all * {margin: 0;}
.baseline-margin-bottom-1 {}
.baseline-margin-bottom-2 {}
.baseline-margin-bottom-3 {}
.baseline-margin-bottom-4 {}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}


.dim-el {opacity: .8;}

.strong {
    color: #4d4d4d;
    font-family: $font-family-bold;
    font-weight: normal;
}

strong {@extend .strong;}



a {
    color: $colour-body;

    &:hover {
        text-decoration: underline;
    }
}

.list-std {
    font-size: 1.2rem;
    line-height: 1.5rem;
}

li {
    @include rem($font-size-b);
    line-height: $line-height-b;
    margin-bottom: #{$line-height-b}em;
}

dl {
    overflow:hidden;
}

dt, dd {
    @extend li;
}

dd {
    text-align: right;
}
